html, body{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p{
    color: grey;
    margin: 0 0 16px 0;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}

nav > a{
    margin-left: 12px;
}

nav > a:hover {
    color: #4EB18D;
    cursor: pointer;
}

section {
    padding: 64px 128px;
}

img, iframe {
    width: 100%;
}

@keyframes BounceIn {
    0% {
        filter: opacity(0);
        transform: translateY(-20px);
    }
    35% {
        filter: opacity(0.35);
        transform: translateY(0);
    }
    70% {
        filter: opacity(0.7);
        transform: translateY(-5px);
    }
    100% {
        filter: opacity(1);
        transform: translateY(0);
    }
}

@keyframes fade {
    from{
        filter: opacity(0);
    }
    to{
        filter: opacity(1);
    }
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 5;
}

#header h1{
    margin: 0;
}

#landing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

#landing > div {
    width: 50%;
}

h1{
    font-weight: 700;
    font-size: 48px;
    margin: 0 0 16px 0;
}

.btn{
    background-color: #4EB18D;
    color: white;
    padding: 8px 24px;
}

.btn:hover{
    cursor: pointer;
}

.btn-alt{
    background-color: white;
    color: black;
    margin-right: 16px;
    border: 2px solid #4EB18D;
}

#about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

#about > div{
    width: 50%;
}

#about-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 72px;
}

.about-stats-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-stats-items div {
    width: 50px;
    height: 10px;
    background-color: #4EB18D;
    margin-bottom: 16px;
}

.service-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-header h1 {
    position: relative;
}

.service-header h1::before {
    content: "";
    width: 60px;
    height: 60px;
    background: url(/assets/images/accent1.svg);
    position: absolute;
    top: -10px;
    left: -20px;
    z-index: -1;
}

.service-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 128px;
    margin-top: 72px;
}

.service-detail-item {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    filter: invert();
}

.service-detail-item img {
    width: 100%;
}

.service-detail-item:hover {
    transform: scale(1.2);
    filter: none;
}

.service-detail-item h2 {
    padding: 0 16px;
}

.service-detail-item p {
    font-size: 16px;
    padding: 0 16px;
}

.contact-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}

.contact-detail > div, .contact-detail > form {
    width: 50%;
}

#contact > h1 {
    position: relative;
}

#contact > h1::before {
    content: "";
    width: 60px;
    height: 60px;
    z-index: -1;
    position: absolute;
    background: url(/assets/images/accent2.svg);
    top: -10px;
    left: -20px;
}

form {
    display: flex;
    flex-direction: column;
    border: 3px solid #4EB18D;
    padding: 64px 32px;
}

form h1 {
    font-size: 32px;
    text-align: center;
}

form button {
    border: none;
}

.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    margin-top: 32px;
    grid-template-areas: "name subject"
                         "email phone"
                         "message message";
}

#input-name {
    grid-area: name;
}

#input-subemail {
    grid-area: subemail;
}

#input-email {
    grid-area: email;
}

#input-phone {
    grid-area: phone;
}

#input-message {
    grid-area: message;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.input-group label {
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 20px;
}

.input-group input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 20px;
}

.input-group input:focus {
    border-bottom: 2px solid #4EB18D;
}

footer {
    padding: 16px 128px;
    background-color: #4EB18D;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: white;
    width: 50%;
}

.social-item {
    display: flex;
    gap: 32px;
}

@media only screen and (max-width: 1200px) {
    .service-detail {
        gap: 24px;
    }

    .contact-detail {
        gap: 24px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 992px) {
    #header, #footer {
        padding: 16px 32px;
    }

    #landing{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #landing > div {
        width: 100%;
    }

    #about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #about > div {
        width: 100%;
    }

    .service-detail{
        gap: 16px;
    }

    .contact-detail {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 64px;
    }

    .contact-detail form, .contact-detail > div {
        width: 100%;
    }
}